<h1>The 2012 NFL Draft</h1>
<p>
<h3>Round 1</h3>
<table class="table table-hover">

    <ul>  
    <li> 1
        	<li>1
        	    Indianapolis Colts
        	</li>
    </li>		Andrew Luck† 	QB	Stanford	Pac-12	</br>
        1	2	Washington Redskins	Robert Griffin III† 	QB	Baylor	Big 12	from St. Louis [R1 - 1];</br>
        2011 Heisman Trophy winner [N 2]</br>
        1	3	Cleveland Browns	Trent Richardson 	RB	Alabama	SEC	from Minnesota [R1 - 2]</br>
        1	4	Minnesota Vikings	Matt Kalil† 	OT	USC	Pac-12	from Cleveland [R1 - 3]</br>
        1	5	Jacksonville Jaguars	Justin Blackmon 	WR	Oklahoma State	Big 12	from Tampa Bay [R1 - 4]</br>
        1	6	Dallas Cowboys	Morris Claiborne 	CB	LSU	SEC	from Washington via St. Louis [R1 - 5]</br>
        1	7	Tampa Bay Buccaneers	Mark Barron 	S	Alabama	SEC	from Jacksonville [R1 - 6]</br>
        1	8	Miami Dolphins	Ryan Tannehill 	QB	Texas A&M	Big 12	</br>
        1	9	Carolina Panthers	Luke Kuechly† 	LB	Boston College	ACC	</br>
        1	10	Buffalo Bills	Stephon Gilmore 	CB	South Carolina	SEC	</br>
        1	11	Kansas City Chiefs	Dontari Poe† 	DT	Memphis	C-USA	</br>
        1	12	Philadelphia Eagles	Fletcher Cox 	DT	Mississippi State	SEC	from Seattle [R1 - 7]</br>
        1	13	Arizona Cardinals	Michael Floyd 	WR	Notre Dame	Ind.	</br>
        1	14	St. Louis Rams	Michael Brockers 	DT	LSU	SEC	from Dallas [R1 - 8]</br>
        1	15	Seattle Seahawks	Bruce Irvin 	DE	West Virginia	Big East	from Philadelphia [R1 - 9]</br>
        1	16	New York Jets	Quinton Coples 	DE	North Carolina	ACC	</br>
        1	17	Cincinnati Bengals	Dre Kirkpatrick 	CB	Alabama	SEC	from Oakland [R1 - 10]</br>
        1	18	San Diego Chargers	Melvin Ingram 	LB	South Carolina	SEC	</br>
        1	19	Chicago Bears	Shea McClellin 	DE	Boise State	MWC	</br>
        1	20	Tennessee Titans	Kendall Wright 	WR	Baylor	Big 12	</br>
        1	21	New England Patriots	Chandler Jones 	DE	Syracuse	Big East	from Cincinnati [R1 - 11]</br>
        1	22	Cleveland Browns	Brandon Weeden 	QB	Oklahoma State	Big 12	from Atlanta [R1 - 12]</br>
        1	23	Detroit Lions	Riley Reiff 	OT	Iowa	Big Ten	</br>
        1	24	Pittsburgh Steelers	David DeCastro 	G	Stanford	Pac-12	</br>
        1	25	New England Patriots	Dont'a Hightower 	LB	Alabama	SEC	from Denver [R1 - 13]</br>
        1	26	Houston Texans	Whitney Mercilus 	DE	Illinois	Big Ten	</br>
        1	27	Cincinnati Bengals	Kevin Zeitler 	G	Wisconsin	Big Ten	from New Orleans via New England [R1 - 14]</br>
        1	28	Green Bay Packers	Nick Perry 	LB	USC	Pac-12	</br>
        1	29	Minnesota Vikings	Harrison Smith 	S	Notre Dame	Ind.	from Baltimore [R1 - 15]</br>
        1	30	San Francisco 49ers	A. J. Jenkins 	WR	Illinois	Big Ten	</br>
        1	31	Tampa Bay Buccaneers	Doug Martin† 	RB	Boise State	MWC	from New England via Denver [R1 - 16]</br>
        1	32	New York Giants	David Wilson 	RB	Virginia Tech	ACC	</br>
    </ul> 
2	33	St. Louis Rams	Brian Quick 	WR	Appalachian State	SoCon	
2	34	Indianapolis Colts	Coby Fleener 	TE	Stanford	Pac-12	
2	35	Baltimore Ravens	Courtney Upshaw 	LB	Alabama	SEC	from Minnesota [R2 - 1]
2	36	Denver Broncos	Derek Wolfe 	DT	Cincinnati	Big East	from Tampa Bay [R2 - 2]
2	37	Cleveland Browns	Mitchell Schwartz 	OT	California	Pac-12	
2	38	Jacksonville Jaguars	Andre Branch 	DE	Clemson	ACC	
2	39	St. Louis Rams	Janoris Jenkins 	CB	North Alabama	GSC	from Washington [R2 - 3]
2	40	Carolina Panthers	Amini Silatolu 	G	Midwestern State	LSC	
2	41	Buffalo Bills	Cordy Glenn 	OT	Georgia	SEC	
2	42	Miami Dolphins	Jonathan Martin 	OT	Stanford	Pac-12	
2	43	New York Jets	Stephen Hill 	WR	Georgia Tech	ACC	from Seattle [R2 - 4]
2	44	Kansas City Chiefs	Jeff Allen 	G	Illinois	Big Ten	
2	45	Chicago Bears	Alshon Jeffery† 	WR	South Carolina	SEC	from Dallas via St. Louis [R2 - 5]
2	46	Philadelphia Eagles	Mychal Kendricks 	LB	California	Pac-12	
2	47	Seattle Seahawks	Bobby Wagner† 	LB	Utah State	WAC	from New York Jets [R2 - 6]
2	48	New England Patriots	Tavon Wilson 	S	Illinois	Big Ten	from Oakland [R2 - 7]
2	49	San Diego Chargers	Kendall Reyes 	DT	Connecticut	Big East	
2	50	St. Louis Rams	Isaiah Pead 	RB	Cincinnati	Big East	from Chicago [R2 - 8]
2	51	Green Bay Packers	Jerel Worthy 	DT	Michigan State	Big Ten	from Arizona via Philadelphia [R2 - 9]
2	52	Tennessee Titans	Zach Brown 	LB	North Carolina	ACC	
2	53	Cincinnati Bengals	Devon Still 	DT	Penn State	Big Ten	
2	54	Detroit Lions	Ryan Broyles 	WR	Oklahoma	Big 12	
2	55	Atlanta Falcons	Peter Konz 	C	Wisconsin	Big Ten	
2	56	Pittsburgh Steelers	Mike Adams 	OT	Ohio State	Big Ten	
2	57	Denver Broncos	Brock Osweiler 	QB	Arizona State	Pac-12	
2	58	Tampa Bay Buccaneers	Lavonte David 	LB	Nebraska	Big Ten	from Houston [R2 - 10]
2	–	New Orleans Saints	selection forfeited as part of the punishment for the team's bounty scandal [Forfeited picks 1]
2	59	Philadelphia Eagles	Vinny Curry 	DE	Marshall	C-USA	from Green Bay [R2 - 11]
2	60	Baltimore Ravens	Kelechi Osemele 	G	Iowa State	Big 12	
2	61	San Francisco 49ers	LaMichael James 	RB	Oregon	Pac-12	
2	62	Green Bay Packers	Casey Hayward 	CB	Vanderbilt	SEC	from New England [R2 - 12]
2	63	New York Giants	Rueben Randle 	WR	LSU	SEC	
3	64	Indianapolis Colts	Dwayne Allen 	TE	Clemson	ACC	
3	65	St. Louis Rams	Trumaine Johnson 	CB	Montana	Big Sky	
3	66	Minnesota Vikings	Josh Robinson 	CB	Central Florida	C-USA	
3	67	Denver Broncos	Ronnie Hillman 	RB	San Diego State	MWC	from Cleveland [R3 - 1]
3	68	Houston Texans	DeVier Posey 	WR	Ohio State	Big Ten	from Tampa Bay [R3 - 2]
3	69	Buffalo Bills	T. J. Graham 	WR	NC State	ACC	from Washington [R3 - 3]
3	70	Jacksonville Jaguars	Bryan Anger 	P	California	Pac-12	
3	71	Washington Redskins	Josh LeRibeus 	G	SMU	C-USA	from Buffalo [R3 - 4]
3	72	Miami Dolphins	Olivier Vernon 	DE	Miami (FL)	ACC	
3	73	San Diego Chargers	Brandon Taylor 	S	LSU	SEC	from Carolina via Chicago and Miami [R3 - 5]
3	74	Kansas City Chiefs	Donald Stephenson 	OT	Oklahoma	Big 12	
3	75	Seattle Seahawks	Russell Wilson† 	QB	Wisconsin	Big Ten	
3	76	Houston Texans	Brandon Brooks 	G	Miami (OH)	MAC	from Philadelphia [R3 - 6]
3	77	New York Jets	Demario Davis 	LB	Arkansas State	Sun Belt	
3	–	Oakland Raiders	selection forfeited after selecting QB Terrelle Pryor in the 2011 Supplemental Draft. [Forfeited picks 2]
3	78	Miami Dolphins	Michael Egnew 	TE	Missouri	Big 12	from San Diego [R3 - 7]
3	79	Chicago Bears	Brandon Hardin 	S	Oregon State	Pac-12	
3	80	Arizona Cardinals	Jamell Fleming 	CB	Oklahoma	Big 12	
3	81	Dallas Cowboys	Tyrone Crawford 	DE	Boise State	MWC	
3	82	Tennessee Titans	Mike Martin 	DT	Michigan	Big Ten	
3	83	Cincinnati Bengals	Mohamed Sanu 	WR	Rutgers	Big East	
3	84	Baltimore Ravens	Bernard Pierce 	RB	Temple	MAC	from Atlanta [R3 - 8]
3	85	Detroit Lions	Dwight Bentley 	CB	Louisiana-Lafayette	Sun Belt	
3	86	Pittsburgh Steelers	Sean Spence 	LB	Miami (FL)	ACC	
3	87	Cleveland Browns	John Hughes 	DT	Cincinnati	Big East	from Denver [R3 - 9]
3	88	Philadelphia Eagles	Nick Foles† 	QB	Arizona	Pac-12	from Houston [R3 - 10]
3	89	New Orleans Saints	Akiem Hicks 	DT	Regina	CWUAA	
3	90	New England Patriots	Jake Bequette 	DE	Arkansas	SEC	from Green Bay [R3 - 11]
3	91	Atlanta Falcons	Lamar Holmes 	OT	Southern Miss	C-USA	from Baltimore [R3 - 12]
3	92	Indianapolis Colts	T. Y. Hilton† 	WR	Florida International	Sun Belt	from San Francisco [R3 - 13]
3	93	Cincinnati Bengals	Brandon Thompson 	DT	Clemson	ACC	from New England [R3 - 14]
3	94	New York Giants	Jayron Hosley 	CB	Virginia Tech	ACC	
3*	95	Oakland Raiders	Tony Bergstrom 	G	Utah	Pac-12	
4	96	St. Louis Rams	Chris Givens 	WR	Wake Forest	ACC	
4	97	Miami Dolphins	Lamar Miller 	RB	Miami (FL)	ACC	from Indianapolis via San Francisco [R4 - 1]
4	98	Baltimore Ravens	Gino Gradkowski 	G	Delaware	CAA	from Minnesota [R4 - 2]
4	99	Houston Texans	Ben Jones 	C	Georgia	SEC	from Tampa Bay via Philadelphia [R4 - 3]
4	100	Cleveland Browns	Travis Benjamin 	WR	Miami (FL)	ACC	
4	101	Denver Broncos	Omar Bolden 	CB	Arizona State	Pac-12	from Jacksonville via Tampa Bay [R4 - 4]
4	102	Washington Redskins	Kirk Cousins 	QB	Michigan State	Big Ten	
4	103	Carolina Panthers	Frank Alexander 	DE	Oklahoma	Big 12	from Miami via San Francisco [R4 - 5]
4	104	Carolina Panthers	Joe Adams 	WR	Arkansas	SEC	
4	105	Buffalo Bills	Nigel Bradham 	LB	Florida State	ACC	
4	106	Seattle Seahawks	Robert Turbin 	RB	Utah State	WAC	
4	107	Kansas City Chiefs	Devon Wylie 	WR	Fresno State	WAC	
4	108	Denver Broncos	Philip Blake 	C	Baylor	Big 12	from New York Jets [R4 - 6]
4	109	Pittsburgh Steelers	Alameda Ta'amu 	DT	Washington	Pac-12	from Oakland via Washington [R4 - 7]
4	110	San Diego Chargers	Ladarius Green 	TE	Louisiana-Lafayette	Sun Belt	
4	111	Chicago Bears	Evan Rodriguez 	TE	Temple	MAC	
4	112	Arizona Cardinals	Bobby Massie 	OT	Ole Miss	SEC	
4	113	Dallas Cowboys	Kyle Wilber 	LB	Wake Forest	ACC	
4	114	Seattle Seahawks	Jaye Howard 	DT	Florida	SEC	from Philadelphia [R4 - 8]
4	115	Tennessee Titans	Coty Sensabaugh 	CB	Clemson	ACC	
4	116	Cincinnati Bengals	Orson Charles 	TE	Georgia	SEC	
4	117	San Francisco 49ers	Joe Looney 	G	Wake Forest	ACC	from Detroit [R4 - 9]
4	118	Minnesota Vikings	Jarius Wright 	WR	Arkansas	SEC	from Atlanta via Cleveland [R4 - 10]
4	119	Washington Redskins	Keenan Robinson 	LB	Texas	Big 12	from Pittsburgh [R4 - 11]
4	120	Cleveland Browns	James-Michael Johnson 	LB	Nevada	WAC	from Denver [R4 - 12]
4	121	Houston Texans	Keshawn Martin 	WR	Michigan State	Big Ten	
4	122	New Orleans Saints	Nick Toon 	WR	Wisconsin	Big Ten	
4	123	Philadelphia Eagles	Brandon Boykin 	CB	Georgia	SEC	from Green Bay [R4 - 13]
4	124	Buffalo Bills	Ron Brooks 	CB	LSU	SEC	from Baltimore [R4 - 14]
4	125	Detroit Lions	Ronnell Lewis 	LB	Oklahoma	Big 12	from San Francisco [R4 - 15]
4	126	Houston Texans	Jared Crick 	DE	Nebraska	Big Ten	from New England via Denver and Tampa Bay [R4 - 16]
4	127	New York Giants	Adrien Robinson 	TE	Cincinnati	Big East	
4*	128	Minnesota Vikings	Rhett Ellison 	FB	USC	Pac-12	
4*	129	Oakland Raiders	Miles Burris 	LB	San Diego State	MWC	
4*	130	Baltimore Ravens	Christian Thompson 	S	South Carolina State	MEAC	
4*	131	New York Giants	Brandon Mosley 	OT	Auburn	SEC	
4*	132	Green Bay Packers	Mike Daniels 	DT	Iowa	Big Ten	
4*	133	Green Bay Packers	Jerron McMillian 	S	Maine	CAA	
4*	134	Minnesota Vikings	Greg Childs 	WR	Arkansas	SEC	
4*	135	Dallas Cowboys	Matt Johnson 	S	Eastern Washington	Big Sky	
5	136	Indianapolis Colts	Josh Chapman 	DT	Alabama	SEC	
5	137	Denver Broncos	Malik Jackson 	DE	Tennessee	SEC	from St. Louis [R5 - 1]
5	138	Detroit Lions	Tahir Whitehead 	LB	Temple	MAC	from Minnesota [R5 - 2]
5	139	Minnesota Vikings	Robert Blanton 	S	Notre Dame	Ind.	from Cleveland [R5 - 3]
5	140	Tampa Bay Buccaneers	Najee Goode 	LB	West Virginia	Big East	
5	141	Washington Redskins	Adam Gettis 	G	Iowa	Big Ten	
5	142	Jacksonville Jaguars	Brandon Marshall 	LB	Nevada	WAC	
5	143	Carolina Panthers	Josh Norman 	CB	Coastal Carolina	Big South	
5	144	Buffalo Bills	Zebrie Sanders 	OT	Florida State	ACC	
5	145	Tennessee Titans	Taylor Thompson 	DE	SMU	C-USA	from Miami [R5 - 4]
5	146	Kansas City Chiefs	DeQuan Menzie 	CB	Alabama	SEC	
5	147	Buffalo Bills	Tank Carder 	LB	TCU	MWC	from Seattle [R5 - 5]
5	148	Detroit Lions	Chris Greenwood 	CB	Albion	MIAA	from Oakland [R5 - 6]
5	149	San Diego Chargers	Johnnie Troutman 	G	Penn State	Big Ten	
5	150	St. Louis Rams	Rokevious Watkins 	G	South Carolina	SEC	from Chicago [R5 - 7]
5	151	Arizona Cardinals	Senio Kelemete 	G	Washington	Pac-12	
5	152	Dallas Cowboys	Danny Coale 	WR	Virginia Tech	ACC	
5	153	Philadelphia Eagles	Dennis Kelly 	OT	Purdue	Big Ten	
5	154	Seattle Seahawks	Korey Toomer 	LB	Idaho	WAC	from New York Jets [R5 - 8]
5	155	Miami Dolphins	Josh Kaddu 	LB	Oregon	Pac-12	from Tennessee [R5 - 9]
5	156	Cincinnati Bengals	Shaun Prater 	CB	Iowa	Big Ten	
5	157	Atlanta Falcons	Bradie Ewing 	FB	Wisconsin	Big Ten	
5	158	Oakland Raiders	Jack Crawford 	DE	Penn State	Big Ten	from Detroit [R5 - 10]
5	159	Pittsburgh Steelers	Chris Rainey 	RB	Florida	SEC	
5	160	Cleveland Browns	Ryan Miller 	G	Colorado	Pac-12	from Denver [R5 - 11]
5	161	Houston Texans	Randy Bullock 	K	Texas A&M	Big 12	
5	162	New Orleans Saints	Corey White 	S	Samford	SoCon	
5	163	Green Bay Packers	Terrell Manning 	LB	NC State	ACC	from Green Bay via New England [R5 - 12]
5	164	Atlanta Falcons	Jonathan Massaquoi 	DE	Troy	Sun Belt	from Baltimore [R5 - 13]
5	165	San Francisco 49ers	Darius Fleming 	LB	Notre Dame	Ind.	
5	166	Cincinnati Bengals	Marvin Jones 	WR	California	Pac-12	from New England [R5 - 14]
5	167	Cincinnati Bengals	George Iloka 	S	Boise State	MWC	from New York Giants [R5 - 15]
5*	168	Oakland Raiders	Juron Criner 	WR	Arizona	Pac-12	
5*	169	Baltimore Ravens	Asa Jackson 	CB	Cal Poly	Great West	
5*	170	Indianapolis Colts	Vick Ballard 	RB	Mississippi State	SEC	
6	171	St. Louis Rams	Greg Zuerlein 	K	Missouri Western	MIAA	
6	172	Seattle Seahawks	Jeremy Lane 	CB	Northwestern State	Southland	from Indianapolis via Philadelphia [R6 - 1]
6	173	Washington Redskins	Alfred Morris† 	RB	Florida Atlantic	Sun Belt	from Minnesota [R6 - 2]
6	174	Tampa Bay Buccaneers	Keith Tandy 	CB	West Virginia	Big East	
6	175	Minnesota Vikings	Blair Walsh† 	K	Georgia	SEC	from Cleveland [R6 - 3]
6	176	Jacksonville Jaguars	Mike Harris 	CB	Florida State	ACC	
6	177	Arizona Cardinals	Justin Bethel† 	S	Presbyterian	Big South	from Washington [R6 - 4]
6	178	Buffalo Bills	Mark Asper 	G	Oregon	Pac-12	
6	179	New Orleans Saints	Andrew Tiller 	G	Syracuse	Big East	from Miami [R6 - 5]
6	180	San Francisco 49ers	Trenton Robinson 	S	Michigan State	Big Ten	from Carolina [R6 - 6]
6	181	Seattle Seahawks	Winston Guy 	S	Kentucky	SEC	
6	182	Kansas City Chiefs	Cyrus Gray 	RB	Texas A&M	Big 12	
6	183	Miami Dolphins	B.J. Cunningham 	WR	Michigan State	Big Ten	from San Diego [R6 - 7]
6	184	Chicago Bears	Isaiah Frey 	CB	Nevada	WAC	
6	185	Arizona Cardinals	Ryan Lindley 	QB	San Diego State	MWC	
6	186	Dallas Cowboys	James Hanna 	TE	Oklahoma	Big 12	
6	187	New York Jets	Josh Bush 	S	Wake Forest	ACC	from Philadelphia via Indianapolis [R6 - 8]
6	188	Denver Broncos	Danny Trevathan 	LB	Kentucky	SEC	from New York Jets [R6 - 9]
6	189	Oakland Raiders	Christo Bilukidi 	DT	Georgia State	Ind.	
6	190	Tennessee Titans	Markelle Martin 	S	Oklahoma State	Big 12	
6	191	Cincinnati Bengals	Dan Herron 	RB	Ohio State	Big Ten	
6	–	Detroit Lions	selection forfeited due to findings of tampering with the Kansas City Chiefs. [Forfeited picks 3]
6	192	Atlanta Falcons	Charles Mitchell 	S	Mississippi State	SEC	
6	193	Washington Redskins	Tom Compton 	OT	South Dakota	Great West	from Pittsburgh [R6 - 10]
6	194	Philadelphia Eagles	Marvin McNutt 	WR	Iowa	Big Ten	from Denver [R6 - 11]
6	195	Houston Texans	Nick Mondek 	OT	Purdue	Big Ten	
6	196	Detroit Lions	Jonte Green 	CB	New Mexico State	WAC	from New Orleans via Miami and San Francisco [R6 - 12]
6	197	New England Patriots	Nate Ebner 	CB	Ohio State	Big Ten	from Green Bay [R6 - 13]
6	198	Baltimore Ravens	Tommy Streeter 	WR	Miami (FL)	ACC	
6	199	San Francisco 49ers	Jason Slowey 	OT	Western Oregon	GNAC	
6	200	Philadelphia Eagles	Brandon Washington 	G	Miami (FL)	ACC	from New England [R6 - 14]
6	201	New York Giants	Matt McCants 	OT	UAB	C-USA	
6*	202	New York Jets	Terrance Ganaway 	RB	Baylor	Big 12	
6*	203	New York Jets	Robert Griffin 	G	Baylor	Big 12	
6*	204	Cleveland Browns	Emmanuel Acho 	LB	Texas	Big 12	
6*	205	Cleveland Browns	Billy Winn 	DT	Boise State	MWC	
6*	206	Indianapolis Colts	LaVon Brazill 	WR	Ohio	MAC	
6*	207	Carolina Panthers	Brad Nortman 	P	Wisconsin	Big Ten	
7	208	Indianapolis Colts	Justin Anderson 	G	Georgia	SEC	
7	209	St. Louis Rams	Aaron Brown 	LB	Hawaii	WAC	
7	210	Minnesota Vikings	Audie Cole 	LB	NC State	ACC	
7	211	Tennessee Titans	Scott Solomon 	DE	Rice	C-USA	from Cleveland via Minnesota [R7 - 1]
7	212	Tampa Bay Buccaneers	Michael Smith 	RB	Utah State	WAC	
7	213	Washington Redskins	Richard Crawford 	CB	SMU	C-USA	
7	214	Indianapolis Colts	Tim Fugger 	LB	Vanderbilt	SEC	from Jacksonville via New York Jets [R7 - 2]
7	215	Miami Dolphins	Kheeston Randall 	DT	Texas	Big 12	
7	216	Carolina Panthers	D. J. Campbell 	S	California	Pac-12	
7	217	Washington Redskins	Jordan Bernstine 	CB	Iowa	Big Ten	from Buffalo [R7 - 3]
7	218	Kansas City Chiefs	Jerome Long 	DT	San Diego State	MWC	
7	219	Minnesota Vikings	Trevor Guyton 	DE	California	Pac-12	from Seattle via Detroit [R7 - 4]
7	220	Chicago Bears	Greg McCoy 	CB	TCU	MWC	
7	221	Arizona Cardinals	Nate Potter 	OT	Boise State	MWC	
7	222	Dallas Cowboys	Caleb McSurdy 	ILB	Montana	Big Sky	
7	223	Detroit Lions	Travis Lewis 	OLB	Oklahoma	Big 12	from Philadelphia via New England [R7 - 5]
7	224	New England Patriots	Alfonzo Dennard 	CB	Nebraska	Big Ten	from New York Jets via Green Bay [R7 - 6]
7	225	Seattle Seahawks	J. R. Sweezy 	DE	NC State	ACC	from Oakland [R7 - 7]
7	226	San Diego Chargers	David Molk 	C	Michigan	Big Ten	
7	227	Miami Dolphins	Rishard Matthews 	WR	Nevada	WAC	from Tennessee [R7 - 8]
7	228	Jacksonville Jaguars	Jeris Pendleton 	DT	Ashland	GLIAC	from Cincinnati [R7 - 9]
7	229	Philadelphia Eagles	Bryce Brown 	RB	Kansas State	Big 12	from Atlanta [R7 - 10]
7	230	Oakland Raiders	Nathan Stupar 	OLB	Penn State	Big Ten	from Detroit [R7 - 11]
7	231	Pittsburgh Steelers	Toney Clemons 	WR	Colorado	Pac-12	
7	232	Seattle Seahawks	Greg Scruggs 	DE	Louisville	Big East	from Denver via New York Jets [R7 - 12]
7	233	Tampa Bay Buccaneers	Drake Dunsmore 	TE	Northwestern	Big Ten	from Houston [R7 - 13]
7	234	New Orleans Saints	Marcel Jones 	OT	Nebraska	Big Ten	
7	235	New England Patriots	Jeremy Ebert 	WR	Northwestern	Big Ten	from Green Bay [R7 - 14]
7	236	Baltimore Ravens	DeAngelo Tyson 	DT	Georgia	SEC	
7	237	San Francisco 49ers	Cam Johnson 	DE	Virginia	ACC	
7	238	Kansas City Chiefs	Junior Hemingway 	WR	Michigan	Big Ten	from New England [R7 - 15]
7	239	New York Giants	Markus Kuhn 	DT	NC State	ACC	
7*	240	Pittsburgh Steelers	David Paulson 	TE	Oregon	Pac-12	
7*	241	Green Bay Packers	Andrew Datko 	OT	Florida State	ACC	
7*	242	New York Jets	Antonio Allen 	S	South Carolina	SEC	
7*	243	Green Bay Packers	B. J. Coleman 	QB	Chattanooga	SoCon	
7*	244	New York Jets	Jordan White 	WR	Western Michigan	MAC	
7*	245	Cleveland Browns	Trevin Wade 	CB	Arizona	Pac-12	
7*	246	Pittsburgh Steelers	Terrence Frederick 	CB	Texas A&M	Big 12	
7*	247	Cleveland Browns	Brad Smelley 	TE	Alabama	SEC	
7*	248	Pittsburgh Steelers	Kelvin Beachum 	G	SMU	C-USA	
7*	249	Atlanta Falcons	Travian Robertson 	DT	South Carolina	SEC	
7*	250	San Diego Chargers	Edwin Baker 	RB	Michigan State	Big Ten	
7*	251	Buffalo Bills	John Potter 	K	Western Michigan	MAC	
7^	252	St. Louis Rams	Daryl Richardson 	RB	Abilene Christian	LSC	
7^	253	Indianapolis Colts	Chandler Harnish 	QB	Northern Illinois	MAC	
  ...
</table>
</p>